
<div class="lesson">
  <div class="box">

  <!--  <div *ngFor="let partEntry of (lessonService.getAll$() | async)[0]?.mainParts[0]?.entries">-->
  <!--    {{partEntry | json}}-->
  <!--  </div>-->

  <!--  <app-fill-blanks-group *ngFor="let partEntry of (lessonService.getPart$() | async)?.entries"-->
  <!--                         [questionsData]="partEntry.questions-entry"-->
  <!--                         [startShowAmount]="5">-->
  <!--  </app-fill-blanks-group>-->

    <app-part-entry *ngFor="let partEntry of (lessonService.getPart$() | async)?.entries" [data]="partEntry">

  <!--    <div *ngIf="partEntry.type === 'text'">-->
  <!--      {{partEntry.data.text}}-->
  <!--    </div>-->

  <!--    <app-question-group-entry *ngIf="partEntry.type === 'fillBlanks'"-->
  <!--                              [data]="partEntry.questions"-->
  <!--                              [startShowAmount]="1">-->
  <!--    </app-question-group-entry>-->
    </app-part-entry>








  </div>
</div>
