<div class="question-group">

  <div class="question-group-top" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="label">Questions</div>
    <div class="actions">

      <button mat-icon-button color="primary" (click)="addQuestion()">
        <mat-icon matTooltip="Add Question to Group">add_box</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon matTooltip="Add QuestionGroup">library_add</mat-icon>
      </button>

    </div>
  </div>

  <ng-template appEntryContent></ng-template>

</div>
