.row {
  margin-bottom: 4px;

  .index {
    margin-right: 15px;
    color: lighten(black, 50);
  }
}


.question-group {
  margin: 10px 0 10px 0;

  padding: 20px 10px 10px 10px;
  border-radius: 10px;
  border: aquamarine solid 1px;
  position: relative;

  .question-group-top {
    position: absolute;
    z-index: 1;
    //left: 30px;
    top: -10px;
    width: 100%;


    height: 20px;

    .label {
      background-color: white;
      padding: 0 10px 0 10px;
      font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: medium;
    }

    .actions {
      @extend .label;
      margin-right: 20px;
    }
  }
}


.new-question-input {
  width: 100%;
}
