.top-lesson-editor{
  h1 {
    margin: 0;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.title-row {

  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;

  .title-text {
    margin: 0;
    margin-right: 5px;
  }
  .title-label {
    margin: 0;
    color: #4d4d4d;
  }
}
