@import "src/styles";

.nav-bar {
  width: 250px;
  height: 100%;
  background-color: $base-color;
  margin-right: 10px;
  padding: 0 5px 0 5px;

  > * {
    @extend .box;
    padding: 5px;
    min-height: 20px;
    margin-bottom: 10px;

  }
}
