<div class="question-group">

  <div class="question-group-top" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="label">Questions</div>
    <div class="actions">



<!--      <button mat-icon-button color="primary" (click)="increaseDifficultyQuestionGroupType()">-->
<!--        <mat-icon matTooltip="Switch Question Type">keyboard_arrow_up</mat-icon>-->
<!--      </button>-->
<!--      <button mat-icon-button color="primary" (click)="decreaseDifficultyQuestionGroupType()">-->
<!--        <mat-icon matTooltip="Switch Question Type">keyboard_arrow_down</mat-icon>-->
<!--      </button>-->
<!--&lt;!&ndash;      <button mat-icon-button color="primary" (click)="addQuestion()">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-icon matTooltip="Add Question to Group">add_box</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--      <app-add-set-questions *ngIf="(questionHandler !== undefined)"-->
<!--                             [totalQuestionAmount]="questionHandler.questionsData.length"-->
<!--                             (addQuestion)="addQuestion()"-->
<!--                             (setQuestionAmount)="setQuestionAmount($event)"-->
<!--      ></app-add-set-questions>-->


<!--      <button mat-icon-button color="primary">-->
<!--        <mat-icon matTooltip="Add QuestionGroup">library_add</mat-icon>-->
<!--      </button>-->

<!--      <button mat-icon-button color="primary" matTooltip="Reset" (click)="reset()">-->
<!--        <mat-icon>restore</mat-icon>-->
<!--      </button>-->

    </div>
  </div>

  {{entry.data | json}}

<!--  <ng-template appEntryContent></ng-template>-->

</div>
