/* You can add global styles to this file, and also import other style files */

@import "app/styles/lesson/fill-blank";

$base-color: rgb(241,245,251);

.full-page {
  margin: 0;
  min-height: 100vh;
  background-color: $base-color;
}

.full-width {
  width: 100%;

  &-center {
    @extend .full-width;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.box {
  background-color: white;
  border-radius: 5px;

  padding: 10px;

  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.07);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.07);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.07);
}


